<div style="text-align: center; margin-top: 3%">

  <div class="divRow2">
    <form [formGroup]="formListOst">
      <select class="ostatkiListSelect" formControlName="ost" #lOst [size]="12"
              (change)="onChangeList(lOstRef)"
      >
        <option *ngFor="let item of ostService.ostatkiLocal" [ngValue]="item"> {{item.vl.vl + '  '+ (item.ost | number : '1.0-2' : 'fr')}} </option>
      </select>
    </form>
  </div>


  <div class="divRow2" style="width: 10%; margin-left: 1%">
    <form [formGroup]="formUpdOst">
      <button class="cancBtn" style="width: 90%;" disabled="true">...</button>

      <button class="delBtn" style="width: 90%; margin-top: 5%">Удалить</button>

      <input formControlName="ost" type="text" style="width: 90%; margin-top: 20%"
             [ngClass]="{'input-has-error': formUpdOst.controls.ost.invalid}"
      >

      <button class="updBtn" style="width: 90%; margin-top: 5%">Изменить</button>
    </form>
  </div>


  <form style="margin-top: 1%" [formGroup]="formNewOst" (ngSubmit)="submitOst()">

    <div class="divRow">
      <label></label><br>
      <select formControlName="vl"
      >
        <option *ngFor="let vl of prVl" [ngValue]="vl"> {{vl.vl}} </option>
      </select>
    </div>

    <div class="divRow">
      <label>Новый остаток</label><br>
      <input formControlName="ost" type="text" autocomplete="off" size="16"
             [ngClass]="{'input-has-error': formNewOst.controls.ost.invalid}"
      />
    </div>

    <div class="divRow">
      <button class="addBtn" type="submit"
      >Внести</button>
    </div>

  </form>

</div>
