<div style="text-align: center; margin-top: 3%">

  <div class="divRow2">
    <form [formGroup]="formListOst">
      <select class="ostatkiListSelect" formControlName="ost" #lOst [size]="12"
              ostKeyDownDirective [nextRef]="updOstEditRef" [nextRef2]="nOstVlRef" [nextRefDel]="ostDelButtonRef"
              (focus)="onFocusList(lOstRef)" (change)="onChangeList(lOstRef)"
      >
        <option *ngFor="let val of ostService.ostatkiLocal" [ngValue]="val">
          {{val.vl.vl + '  ' + (val.ost | number : '1.0-2' | replaceComma)}}
        </option>
      </select>
    </form>
  </div>


  <div class="divRow2" style="width: 10%; margin-left: 1%">
    <form [formGroup]="formUpdOst">
      <button class="delBtn" type="button" #ostDelButton id="ostDelButton" style="width: 90%; margin-top: 5%"
              ostKeyDownDirective [nextRef2]="lOstRef"
              (click)="delOst()"
      >Удалить</button>

      <input formControlName="ost" type="text" autocomplete="off" #updOstEdit id="updOstEdit" style="width: 90%; margin-top: 20%"
             ostKeyDownDirective [nextRef]="ostUpdButtonRef" [nextRef2]="lOstRef"
             [ngClass]="{'input-has-error': formUpdOst.controls.ost.invalid}"
             (focus)="onFocusEdit(updOstEditRef)"
      >

      <button class="updBtn" type="button" #ostUpdButton id="ostUpdButton" style="width: 90%; margin-top: 5%"
              ostKeyDownDirective [nextRef2]="updOstEditRef"
              [disabled]="formUpdOst.invalid"
              (click)="updOst()"
      >Изменить</button>
    </form>
  </div>


  <form style="margin-top: 1%" [formGroup]="formNewOst" (ngSubmit)="submitOst()">

    <div class="divRow">
      <label></label><br>
      <select formControlName="vl" #nOstVl id="nOstVl"
              ostKeyDownDirective [nextRef]="newOstEditRef" [nextRef2]="lOstRef" [formCon]="formNewOst.controls.vl"
      >
        <option *ngFor="let val of curService.prVlLocal" [ngValue]="val"> {{val.vl}} </option>
      </select>
    </div>

    <div class="divRow">
      <label>Новый остаток</label><br>
      <input formControlName="ost" type="text" autocomplete="off" size="16" #newOstEdit id="newOstEdit"
             ostKeyDownDirective [nextRef]="ostAddButtonRef" [nextRef2]="nOstVlRef"
             [ngClass]="{'input-has-error': formNewOst.controls.ost.invalid}"
             (focus)="onFocusEdit(newOstEditRef)"
      />
    </div>

    <div class="divRow">
      <button class="addBtn" type="submit" #ostAddButton id="ostAddButton"
              ostKeyDownDirective [nextRef2]="nOstVlRef"
              [disabled]="formNewOst.invalid"
      >Внести</button>
    </div>

  </form>

</div>
