.totalSum{
  outline: none;
  text-decoration: none;
  display: inline-block;
  min-width: 100pt;
  margin-top: 1%;
  align-content: center;
  margin-left: 1.8%;
  text-align: center;
  line-height: 1.8;
  background-color: #e8dede;
  border-radius: 3pt;
}
