<div style="text-align: center">
  <br>
  <button class="buttonPrev" (click)="onLoadPrevKurses()">Установить предыдущие курсы</button>
</div>

<div style="text-align: center">

  <br>

  <form [formGroup]="formNewKrs" (ngSubmit)="submitKrs()">

      <div class="divRow" style="margin-left: 4%;">
        <label>Приём</label><br>
        <input formControlName="krs0" type="text" autocomplete="off" #nKrs0 id="nKrs0"
               krsKeyDownDirective [nextRef]="nKrs3Ref" [nextRef2]="lKrs0Ref"
               [ngClass]="{'input-has-error': formNewKrs.controls.krs0.invalid}"
               (focus)="onFocusEdit(nKrs0Ref)"
        />
      </div>

      <div class="divRow">
        <select formControlName="krs3" #nKrs3 id="nKrs3"
                krsKeyDownDirective [nextRef]="nKrs1Ref" [nextRef2]="nKrs0Ref"
                                  [formCon]="formNewKrs.controls.krs3">
          <option *ngFor="let val of curService.ppVlLocal" [ngValue]="val">
            {{val.vl}}
          </option>
        </select>
      </div>

      <div class="divRow">
        <label>Продажа</label><br>
        <input formControlName="krs1" type="text" autocomplete="off" #nKrs1 id="nKrs1"
               krsKeyDownDirective [nextRef]="nKrs2Ref" [nextRef2]="nKrs0Ref"
               [ngClass]="{'input-has-error': formNewKrs.controls.krs1.invalid}"
               (focus)="onFocusEdit(nKrs1Ref)"
        />
      </div>

      <div class="divRow">
        <label>Опт</label><br>
        <input formControlName="krs2" type="text" autocomplete="off" #nKrs2 id="nKrs2"
               krsKeyDownDirective [nextRef]="krsAddButtonRef" [nextRef2]="nKrs0Ref"
               [ngClass]="{'input-has-error': formNewKrs.controls.krs2.invalid}"
               (focus)="onFocusEdit(nKrs2Ref)"
        />
      </div>

      <div class="divRow">
        <button class="addBtn" type="submit" #krsAddButton id="krsAddButton"
                krsKeyDownDirective [nextRef]="nKrs0Ref" [nextRef2]="nKrs0Ref"
                [disabled]="formNewKrs.invalid"
        >Внести</button>
      </div>
  </form>

  <br>

  <form [formGroup]="formListKrs">
    <div style="margin-left: 0;">

      <div class="divRow">
        <label>Приём</label><br>
        <select class="kursesListSelect" formControlName="krs0" #lKrs0 [size]="listRows"
                krsKeyDownDirective [nextRef]="updKrsEditRef" [nextRef2]="nKrs0Ref"
                (focus)="onFocusList(0, lKrs0Ref)" (change)="onChangeList(0, lKrs0Ref)"
                (dblclick)="onDblClickList(this.formListKrs.controls.krs0, nKrs0Ref, updKrsEditRef)"
        >
          <option *ngFor="let val of krsService.kurses0Local" [ngValue]="val">
            {{krsOut(val.krs)}}
          </option>
        </select>
      </div>

      <div class="divRow" style="margin-left: 0.5%;">
        <label></label><br>
        <select class="kursesListSelect" formControlName="krs3" #lKrs3 [size]="listRows"
                krsKeyDownDirective [nextRef]="updKrsEditRef" [nextRef2]="lKrs0Ref"
                (focus)="onFocusList(3, lKrs3Ref)" (change)="onChangeList(3, lKrs3Ref)"
                (dblclick)="onDblClickList(this.formListKrs.controls.krs0, nKrs0Ref, updKrsEditRef)"
        >
          <option *ngFor="let val of krsService.kurses3Local" [ngValue]="val"> {{val.vl}} </option>
        </select>
      </div>

      <div class="divRow" style="margin-left: 0.1%;">
        <label>Продажа</label><br>
        <select class="kursesListSelect" formControlName="krs1" #lKrs1 [size]="listRows"
                krsKeyDownDirective [nextRef]="updKrsEditRef" [nextRef2]="lKrs0Ref"
                (focus)="onFocusList(1, lKrs1Ref)" (change)="onChangeList(1, lKrs1Ref)"
                (dblclick)="onDblClickList(this.formListKrs.controls.krs1, nKrs1Ref, updKrsEditRef)"
        >
          <option *ngFor="let val of krsService.kurses1Local" [ngValue]="val"> {{krsOut(val.krs)}} </option>
        </select>
      </div>

      <div class="divRow" style="margin-left: 2%;">
        <label>Опт</label><br>
        <select class="kursesListSelect" formControlName="krs2" #lKrs2 [size]="listRows"
                krsKeyDownDirective [nextRef]="updKrsEditRef" [nextRef2]="lKrs0Ref"
                (focus)="onFocusList(2, lKrs2Ref)" (change)="onChangeList(2, lKrs2Ref)"
                (dblclick)="onDblClickList(this.formListKrs.controls.krs2, nKrs2Ref, updKrsEditRef)"
        >
          <option *ngFor="let val of krsService.kurses2Local" [ngValue]="val"> {{ krsOut(val.krs) }} </option>
        </select>
      </div>

    </div>
  </form>

  <br>

  <form class="formInline" [formGroup]="formDisabled">

      <div class="divRow">
        <p>Изменить</p>
      </div>

      <div class="divRow">
        <label>Операция</label><br>
        <select formControlName="pp" id="updPpList"
        >
          <option *ngFor="let val of this.obService.krs_ob" [ngValue]="val" >
            {{val.obm}}
          </option>
        </select>
      </div>

      <div class="divRow">
        <label>Валюта</label><br>
        <select formControlName="vl" id="updVlList"
        >
          <option *ngFor="let val of curService.ppVlLocal" [ngValue]="val">
            {{val.vl}}
          </option>
        </select>
      </div>

      <div class="divRow">
        <p>на</p>
      </div>

  </form>


  <form class="formInline" [formGroup]="formUpdKrs" (ngSubmit)="updKrs()">

    <div class="divRow">
      <input formControlName="krs" type="text" autocomplete="off" #updKrsEdit id="updKrsEdit"
             krsKeyDownDirective [nextRef]="krsUpdButtonRef" [nextRef2]="lastFocusedListRef"
             [ngClass]="{'input-has-error': formUpdKrs.controls.krs.invalid}"
             (focus)="onFocusEdit(updKrsEditRef)"
      />
    </div>

    <div class="divRow">
      <button class="updBtn" type="button" #krsUpdButton id="krsUpdButton"
              krsKeyDownDirective [nextRef]="updKrsEditRef" [nextRef2]="updKrsEditRef"
              [disabled]="formUpdKrs.invalid" (click)="updKrs()"
      >Изменить</button>
    </div>

  </form>

</div>



